In [6]:
import pandas as pd
import matplotlib.pyplot as plt

# Load your dataset
file_path = "../data/input/Freight_Cost_Analysis_CY2024-03.25.csv"
df = pd.read_csv(file_path, encoding="latin1", low_memory=False)
df.head()

,SITE,SITE DESCRIPTION,SUPPLIER NO,SUPPLIER NAME,INVOICE ID,INVOICE NO,DATE POSTED,PROJECT ID,PROJECT NAME,ACCOUNT,...,PART DESCRIPTION,COMM 1,COMM 2,PO PURCH QTY,PURCH UOM,PO INV QTY,INV UOM,INVOICED LINE QTY,INVOICE LINE TOTAL,PO PRICE
0,BNB,Beckers New Brighton,102548,Lonseal Flooring,433731,0007795-CM,3-Jan-24,2311121922,REGIONS HOSPITAL 4TH MRI,5400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-600.00,NaN
1,BNB,Beckers New Brighton,104716,Hank's Specialties,433340,173373,3-Jan-24,2312127706,UOFM MOLECULAR & CELLULAR BIOLOGY P,2008,...,PROTECT ALL PRE-NOTCHED Z-BAR INSIDE CORNER AL...,1ACC,1ACC,4.0,EA,4.0,EA,4.0,18.40,18.40
2,BNB,Beckers New Brighton,104716,Hank's Specialties,433340,173373,3-Jan-24,2312127706,UOFM MOLECULAR & CELLULAR BIOLOGY P,2008,...,PROTECT ALL Z BAR DARK GRAY VINYL COVE CAP 8' ...,1TRAN,2ALL,7.0,EA,7.0,EA,7.0,45.36,45.36
3,BNB,Beckers New Brighton,104716,Hank's Specialties,433340,173373,3-Jan-24,2312127706,UOFM MOLECULAR & CELLULAR BIOLOGY P,5504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.00,NaN
4,BNB,Beckers New Brighton,104716,Hank's Specialties,433340,173373,3-Jan-24,2312127706,UOFM MOLECULAR & CELLULAR BIOLOGY P,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.42,NaN

In [7]:
df.columns

Index(['SITE', 'SITE DESCRIPTION', 'SUPPLIER NO', 'SUPPLIER NAME',
       'INVOICE ID', 'INVOICE NO', 'DATE POSTED', 'PROJECT ID', 'PROJECT NAME',
       'ACCOUNT', 'ACCOUNT DESCRIPTION', 'PLANNED DELIVERY DATE',
       'SHIP TO ZIP', 'PO NO', 'PO LINE NO', 'PO REL NO', 'RECEIPT NO',
       'PART NO', 'PART DESCRIPTION', 'COMM 1', 'COMM 2', 'PO PURCH QTY',
       'PURCH UOM', 'PO INV QTY', 'INV UOM', 'INVOICED LINE QTY',
       'INVOICE LINE TOTAL', 'PO PRICE'],
      dtype='object')

In [ ]:
pivot_table = df.pivot_table(index=['PROJECT NAME','PROJECT ID'], values=['PO NO','INVOICE ID', 'INVOICE NO',], aggfunc=pd.Series.nunique).sort_values(by='PO NO', ascending=False).reset_index()
pivot_table

       PROJECT ID  INVOICE ID  INVOICE NO  PO NO
0      2408174237         426         426    319
1      2311122413         427         426    309
2       SPW108421         470         469    303
3        SPT92086         357         357    242
4       SPTM52378         223         223    185
...           ...         ...         ...    ...
27119  2403144051           1           1      0
27120  2309114471           1           1      0
27121    SPT90442           1           1      0
27122  2501205979           1           1      0
27123  2411192825           1           1      0

[27124 rows x 4 columns]

In [16]:
pivot_table = df.pivot_table(
    index=['PROJECT NAME','PROJECT ID', 'INVOICE ID','SUPPLIER NO', 'SUPPLIER NAME'],
    values=['PO NO', 'INVOICE NO'],
    aggfunc=pd.Series.nunique
).sort_values(by=['PROJECT ID', 'INVOICE ID']).reset_index()

pivot_table

,PROJECT NAME,PROJECT ID,INVOICE ID,SUPPLIER NO,SUPPLIER NAME,INVOICE NO,PO NO
0,AMITA Health Holding,1000-D,442358,108164,"Mannington Mills, Inc.",1,1
1,AMITA Health Holding,1000-D,448262,125814,All Tile Holdings LLC,1,0
2,AMITA Health Holding,1000-D,448663,890,All Surfaces,1,1
3,AMITA Health Holding,1000-D,462578,100613,"Florstar Sales, Inc",1,1
4,AMITA Health Holding,1000-D,489433,100613,"Florstar Sales, Inc",1,1
...,...,...,...,...,...,...,...
161190,Longvine,SPWV33527,472107,123788,Castle Rock Interior Solutions LLC,1,1
161191,Longvine,SPWV33527,481195,103121,Professional Flooring Supply Co,1,1
161192,Longvine,SPWV33527,491662,124876,J & M Installers LLC,1,1
161193,Longvine,SPWV33527,503059,121591,Custom Floors,1,1
161194,Amphibious Zoo,SPWV33529,441907,128903,Bering LLC,1,1

In [17]:
# Filter df for rows with ACCOUNT 5504
df_filtered = df[df['ACCOUNT'] == 5504]

# Check if the INVOICE ID exists in pivot_table
df_filtered['Exists in Pivot Table'] = df_filtered['INVOICE ID'].isin(pivot_table['INVOICE ID'])

# Display the result
df_filtered[['INVOICE ID', 'Exists in Pivot Table']]

C:\Users\nzhuw\AppData\Local\Temp/ipykernel_10892/3089804530.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Exists in Pivot Table'] = df_filtered['INVOICE ID'].isin(pivot_table['INVOICE ID'])

        INVOICE ID  Exists in Pivot Table
3           433340                   True
33          443411                   True
44          444070                   True
50          449689                   True
53          459819                   True
...            ...                    ...
441584     1750408                   True
441585     1750407                   True
441587     1751591                   True
441591     1750575                   True
441595     1749432                   True

[56145 rows x 2 columns]